<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的生活</title>
    <meta name="author" content="zhangxiaoyang"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <style>
        #app{
            display: none;
        }

    </style>
</head>
<body id="app">
<form class="zform zform-radius" id="form1">
        <div class="zform-control">
            <div class="control-field">
                <input type="password" class="field-text" placeholder="请输入用户名" data-required="true" data-descriptions="username">
            </div>
        </div>
    <input type="submit" value="提交" class="zbtn zbtn-primary zbtn-full zbtn-lg">
</form>
</body>
</body>
</body>
<script type="text/javascript" src="//cdn.bootcss.com/require.js/2.1.22/require.min.js"></script>
<script type="text/javascript" src="../config.js"></script>
<script>
    requirejs(util.$source,function(){
        requirejs(['pages/template/controller']);
    });
</script>
</html>